{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<title>LoginTest</title>
{% endblock head %}

{% block body %}

<h1>Forgot password?</h1>
<p>That's bad.<br>
<br>
Right now only way to change password is to use your Username. Use form below.</p>

<form action="/forgotpassword" method="post">

  
    <div class="container">
      <label key="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" key= "username" required>
  
      <label for="password"><b>New Password</b></label>
      <input type="password" placeholder="Enter New Password" name="password" id= "password"required>
  
      <button class="greenloginbtn" type="submit" value="change">Change</button>

    </div>
  
    <a href="/" ><div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button></a>
  
    </div>
  </form> 


{% endblock body %}