{% extends 'base.html' %}


{% block head %}
    <title> Login Website </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
    


{% block body %}


<h2>Login page for project.</h2>
<p>Goal was to learn how to implement Flask-Login library.
   I have created database where user name and password is stored. 
   Usernames are not encripted, but passwords are.
  To secure passwords, passwords given through registration form are pushed through passlib library hash256 function with salting. 
  Salting prevents storing two the same passwords for different users with the same value.<br>
<br>
After logging in, in top right corner should appear greetings message with logout button. <br>
All features with ability to change password through "Forgot password?" page are present.<br>
<br>
Cookies for every user are stored for 10 minutes. <br>
<br>
<strong>To check if login is working you can try to enter <a href="logintest">Here</a></strong></p>


<div class="loginform">
  <form action="/login" method="post">

      <div class="container">
        <label key="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" key= "username" required>
    
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id= "password"required>
        <div class="flash">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}
                  <h5>{{ message }}</h5>
              {% endfor %}
            {% endif %}
          {% endwith %}
          </div>
        <button class="greenloginbtn" type="submit" value="login">Login</button>
        <label>
          <input type="checkbox" checked="True" name="remember"> Remember me 
        </label>
        
      </div>
    
      <a href="/" ><div class="container" style="background-color:#f1f1f1">
      
        <span class="password">Forgot <a href="/forgotpassword">password?</a></span>
     
      <div class="register">
        <a href="/register"> Register </a></div> </div></a>
  </form> 
</div>



{% endblock %}
