<h1>
    About Website:
</h1>
<p>
    Server side is covered with nginx, connected using gunicorn wsgi. It is hosted using unix sockets, with 9 workers.
    Server is running on Raspberry pi 4, on Raspbian. In future im planing to add cloud and email service to my website.
    <br>
    <br>
    This is second version of website. Initially I made everything by hand but I had problems with responsivity, so I
    switched to bootstraping few elements, and changed website into modular one. In future I am planning to connect
    login project with cloud project and provide single page app to manage files. I want to achieve it by connecting
    Front-end Angular with Back-end Flask via http services. To do that I am currently in process
    of learning Angular. <br>
    For now website has 2 working separate databases to manage "Blog Project" and "Login Project", API to scrap Allegro
    auctions, and first steps in cloud service. API could be managed by using
    official Allegro documentation but I treated it as exercise.</p>

    Currently website is made with: <br>
<ul>
    <li> Flask </li>
    <li> Flask SqlAlchemy</li>
    <li> Flask Login</li>
    <li> Flask RESTful</li>
    <li> Beautifulsoup for webscraping </li>
    <li> Requests for webscraping</li>

</ul> <br>
