table { width:100%; padding-top: 0%; padding-bottom: 0%;}
.first { width:90%; }
.second { text-align:right; width: 5%; }
.third { text-align:right; width: 5%;}

hr {
   

    color: gray;
    display: block;

    margin: 1px ;
}

.cloud-page {
  display: grid;
}

#context-menu {
    position: absolute;
    z-index:10000;
    width:150px;
    background:#1b1a1a;
    border-radius:5px;
    transform:scale(0);
    transform-origin:top left;
  }
  #context-menu.active {
    transform:scale(1);
    transition:transform 300ms ease-in-out;
  }
  #context-menu .item {
    padding:8px 10px;
    font-size:15px;
    color:#eee;
  }
  #context-menu .item:hover {
    background:#555;
  }
  #context-menu .item i {
    display:inline-block;
    margin-right:5px;
  }
  #context-menu hr {
    margin:2px 0px;
    border-color:#555;
  }