<h1>Cloud Service:</h1>
<p>
  For now you don't have to log in, just testing capabilities of handmade cloud.
</p>
<hr />

<div class="navigateDown">
    <tr (dblclick)="navigateDown()">
        <td>...</td> 
      </tr>
</div>


<div class="cloud-wrap" *ngFor="let file of currentFiles | async" >
  <tr (dblclick)="navigateUp(file.fileName, file.filePath, file.isDir, file.fileParent)">
    <td>{{ file.fileName }}</td> 
    <td>  Download  </td>
    <td> Delete </td>
  </tr>
</div>


      <form (ngSubmit)="uploadFile(File)"method="post" >
        <input type="file" #File name="fileToUpload" id="fileToUpload">
        <input type="submit" value="Upload" name="submit">
        </form>
        

        <div class="form-group">
          <label for="file">Choose File</label>
          <input type="file"
                 id="file"
                 #file
                 (change)="handleFileInput($event.target.files)">
                 <button (click)="handleFileInput(file)">Send</button>
                 
      </div>