<div class="cloud-page" >
<h1>Cloud Service:</h1>
<p>
  For now you don't have to log in, just testing capabilities of handmade cloud.
</p>
<hr />

<div class="navigateDown">
  <tr (dblclick)="navigateDown()">
    <td>...</td>
  </tr>
</div>

<div class="cloud-wrap" *ngFor="let file of currentFiles | async" (contextmenu)="onrightClick($event, file)">
  <table>
  <tr>
    <td class="first"  (dblclick)="
        navigateUp(file.fileName, file.filePath, file.isDir, file.fileParent)
      ">
      {{ file.fileName }}
    </td>
    <td class="second" (dblclick)="
        downloadFile(file.fileName, file.filePath, file.isDir, file.fileParent)
      ">
      <span class="material-icons">
        get_app
      </span>
    </td>
    <td class="third" (dblclick)="
        deleteFile(file.fileName, file.filePath, file.isDir, file.fileParent)
      ">
      <span class="material-icons">
        delete
      </span>
    </td>
  </tr>
</table>
<hr>
</div>

<div>
  <form [formGroup]="uploadForm" (ngSubmit)="uploadSelectedFile()">
    <div>
      <input type="file" name="profile" (change)="onFileSelect($event)" />
    </div>
    <div>
      <button type="submit">Upload</button>
    </div>
  </form>
</div>




  <div *ngIf="contextmenu==true">
      <app-context-menu [file]="file" [x]="contextmenuX" [y]="contextmenuY" [currentFiles]="currentFiles" 
      [workingDir]="workingDir" (workingDirChange)="workingDirHandler($event)" (currentFilesChange)="currentFilesHandler($event)"
      (refresh)="refreshHandler($event)"></app-context-menu>
  </div>
</div>