<h1>Forgot password?</h1>
<p>That's bad.<br>
<br>
<p>Right now only way to change password is to use your Username. Use form below.</p>

<form [formGroup]="registerForm">
    <div class="container">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" id="username" name="username" formControlName="username"
            required />

        <label for="username"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" formControlName="password" required />

        <button class="greenloginbtn" type="submit" value="register" (click)="changePassword()">
            Register
        </button>
    </div>
    <div class="container" style="background-color: #f1f1f1;">
        <a routerLink="/login">
            <button type="button" class="cancelbtn">Cancel</button>
        </a>
    </div>
</form>

