{% extends 'base.html' %}

{% block head %}
<title>Welcome!</title>
{% endblock %}

{% block body %}

<article class="myname">
    <img src="/static/images/urb_patryk.JPG" class="myface">
    <h1>Patryk Krzysztof Urba</h1>
    <p>
        Gen. Kopańskiego 89/5 <br>
        Szczecin, 71-050<br>
        +48 698 355 698<br>
        patryk.urba@gmail.com
    </p>
    <article class="CV" style="max-width: 600px;">
        <h2>Skills</h2>
        <p>
            <b>Back-end:</b> Flask, Jinja2, Flask SqlAlchemy, Flask Login, Flask RESTful, Beautifulsoup for webscraping,
            Requests for webscraping, Selenium for webscraping JavaScript, JSON. <br><br>

            <b>Front-end:</b> HTML5, CSS, Bootstrap, Angular usage of Components, Pipes, Services, Directives,
            HttpClient, Basic TypeScript, Basic JavaScript <br><br>

            <b>Version Control:</b> GIT. <br><br>

            <b>IDE & Tools:</b> Visual Studio Code, Spyder, Anaconda. <br><br>

            <b>Operating System:</b> Windows 10, Linux Ubuntu 20.04, Linux Raspbian. <br><br>


            <b>Other Tools & Technologies:</b> NGINX, Gunicorn, Basic Redis.<br>
        </p>
    </article>
    <article class="CV">
        <h2>Work Experience</h2>
        <p><b>Solinea</b>- Medical Sales Representative<br>
            January 2020 - Present<br>
            <b>AXA Polska</b>- Insurance agent <br>
            September 2019 - January 2020<br>
            <b>Profi K.U, Poland </b>- Assistant<br>
            January 2018 - May 2019<br>
            <b> Mullock and Sons, Ireland </b>- OS<br>
            October 2017 - December 2017<br>
            <b> INGRID A/S / STATOIL,</b> Norway - OS<br>
            July 2017 - August 2017<br>
            <b>TVP Szczecin</b> - Intern<br>
            2015 - 2015<br>
            <b>Radio Szczecin</b> - Intern<br>
            2015 - 2015
        </p>
    </article>
    <article class="CV">
        <h2>Education</h2>
        <b>Maritime University of Szczecin, Szczecin Poland</b> - BS grade 4.0<br>
        2013 - 2019<br>
        <b>Pomorski fakultet u Rijeci, Rijeka Croatia</b><br>
        2016 - 2016

    </article>
</article>

{% endblock %}