{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/blog.css') }}">
<title>Posts</title> 
{% endblock %}

{% block body %}
<br>
<div>
    <a href="/blog/posts/new"><button class="btn" style="float: right;" > + New post</button></a>
    <h1 style="display:inline">All posts current availaible:</h1><br>
    
</div>
    <hr>

    {% for post in posts %}
        <h2>{{ post.title }}</h2>
        {% if post.author %}
            <small> Written by {{ post.author }} on {{ post.date_posted }}</small>
        {% else %}
            <small> Written by Unknown on {{ post.date_posted }}</small>
        {% endif %}
        <br>
        <br>
        <p style="white-space:pre-wrap">{{ post.content }}</p>
        <br>
        <a href='/blog/posts/delete/{{post.id}}'><button class="btn-red">Delete</button></a>
        <a href='/blog/posts/edit/{{post.id}}'><button class="btn-green">Edit</button></a>
        <br>
        <hr>
        <br>
    {% endfor%}

{% endblock %}