<h1>Editing Post</h1>
<hr>
<div class="form-wrap">
<div *ngIf="post">
    

    <h2>Edit:</h2>
    <form #editForm="ngForm" (ngSubmit)="updatePost(editForm)" class="form-wrap1">
        <input type="hidden" value="{{post.id}}" name="id" [(ngModel)]="post.id" > 
        <label for="title">Title:</label>
        <input type="text"  name='title' id='title' aria-label="Wpisz tytuł" required [(ngModel)]="post.title">
        <br>
        <label for="author">Author:</label>
        <input type="text"  name='author' id='author'  aria-label="Wpisz autora" required [(ngModel)]="post.author">
        <br>
        <label for="content">Post:</label>
        <textarea name='content' id="content" aria-label="Enter Content" rows="3" [(ngModel)]="post.content">{{ post.content}}</textarea>
        <br>
        <input type='submit' value='Save'>
    </form>

</div>
</div>


